mat-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100% !important;
  color: whitesmoke;
  background-color: #66BB6A;
}

.btnAccount {
  min-width: 5px;
  padding: 10px;
  right: 4rem;
  position: absolute;
}

.btnSignOut {
  min-width: 5px;
  padding: 10px;
  right: 0.5rem;
  position: absolute;
}

.systemName {
  letter-spacing: 0rem;
  min-width: 5px;
  padding: 10px;
  font-size: 2rem;
}

.btnMenu {
  min-width: 5px;
  padding: 10px 6px 10px 6px;
  font-size: 1.2rem;
}

/* Tablet PC  */
@media only screen and (min-width: 641px) {

  /*ここにtablet用スタイルを記述*/
  .mat-icon-button {
    display: none;
  }

}

/* SmartPhone */
@media screen and (max-width: 640px) {

  /*ここにスマホ用スタイルを記述*/
  .toolBarMenu {
    display: none;
  }

}