<div *ngIf="this.router.url!=='/signIn'">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Sanrokumaru</h1>
  </mat-toolbar>
  <!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button>Sanrokumaru</button>
    </mat-toolbar-row>
  </mat-toolbar> -->

  <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top head">
    <a class="navbar-brand" routerLink="/evaluation-result">Sanrokumaru</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">評価メニュー</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="project.html">社員一覧</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">評価確認メニュー</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" href="asessment.html">評価結果一覧</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">管理者メニュー</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="#">企業情報登録</a>
            <a class="dropdown-item" href="#">社員情報登録</a>
            <a class="dropdown-item" href="#">社員情報一括登録</a>
            <a class="dropdown-item" href="#">社員一覧</a>
            <a class="dropdown-item" href="#">質問登録</a>
            <a class="dropdown-item" href="#">評価者登録</a>
            <a class="dropdown-item" href="#">評価者一括登録</a>
            <a class="dropdown-item" href="#">評価ルール登録</a>
            <a class="dropdown-item" href="#">評価状況確認</a>
            　 </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">全権メニュー</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" href="asessment.html">企業情報一覧</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ログアウト</button>
      </form>
    </div>
  </nav> -->

</div>