<div class="mainColor">
  <div class="wrapper mainBody">
    <form [formGroup]="mainForm">
      <!-- Screen Title Area -->
      <div class="titleArea">
        {{ 'companyListScreen.title' | translate }}
      </div>

      <!-- Search Conditions Area -->
      <mat-card>
        <mat-card-content>
          <app-error-messages></app-error-messages>
          <div id="searchConditionsArea">
            <!-- -------------------- 1 -------------------- -->
            <div id="searchCondition1">
              <mat-form-field class="form-field">
                <input id="companyName" matInput type="text" formControlName="companyName"
                  placeholder="{{ 'companyListScreen.companyName' | translate }}">
              </mat-form-field>
            </div>
            <div id="searchCondition2">
              <mat-form-field class="form-field">
                <input id="companyKana" matInput type="text" formControlName="companyKana"
                  placeholder="{{ 'companyListScreen.companyKana' | translate }}">
              </mat-form-field>
            </div>
            <div id="searchCondition3">
              <label class="labelFor">{{ 'companyListScreen.deleted'  | translate}}</label>
              <mat-checkbox id="deleted" formControlName="deleted"></mat-checkbox>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Button Area -->
      <div id="searchButtonArea">
        <div id="paginatorArea">
          <mat-paginator [length]="resultsLength" [pageSize]="50" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
        </div>
        <div id="newBtnArea">
          <button mat-raised-button color="primary" id="newBtn" class="btn" (click)="onNew()"
            type="button">{{ "companyListScreen.newBtn" | translate }}
          </button>
        </div>
        <div id="clearBtnArea">
          <button mat-raised-button color="primary" id="clearBtn" class="btn" (click)="onClear()"
            type="button">{{ "companyListScreen.clearBtn" | translate }}
          </button>
        </div>
        <div id="searchBtnArea">
          <button mat-raised-button color="primary" id="searchBtn" class="btn" type="submit"
            (click)="onSearch()">{{ "companyListScreen.searchBtn" | translate }}
          </button>
        </div>
      </div>

      <!-- evaluationResult Area-->
      <div id="evaluationResult">
        <div class="loading-shade" *ngIf="isLoadingResults">
          <mat-spinner class="loading-spinner" *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="example-container">
          <table mat-table *ngIf="resultsLength>0" [dataSource]="searchCompanyDtos">
            <ng-container matColumnDef="companySeq">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;">
                {{ "companyListScreen.searchResult.companySeq" | translate }}
              </th>
              <td mat-cell *matCellDef="let element"> {{element.companySeq}} </td>
            </ng-container>
            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.companyName" | translate }}
              </th>
              <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>
            <ng-container matColumnDef="companyKana">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.companyKana" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.companyKana}} </td>
            </ng-container>
            <ng-container matColumnDef="companyAddress1">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.searchResult.companyAddress1" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.companyAddress1}} </td>
            </ng-container>
            <ng-container matColumnDef="numOfEmployee">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.searchResult.numOfEmployee" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.numOfEmployee}} </td>
            </ng-container>

            <ng-container matColumnDef="deleted">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.deleted" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.deleted}} </td>
            </ng-container>
            <ng-container matColumnDef="evaluationSetting">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.searchResult.evaluationSetting" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.evaluationSetting}} </td>
            </ng-container>
            <ng-container matColumnDef="createTime">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.searchResult.createTime" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.createTime|date:'medium':timezone:locale}}
              </td>
            </ng-container>
            <ng-container matColumnDef="createUser">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.searchResult.createUser" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.createUser}} </td>
            </ng-container>
            <ng-container matColumnDef="updateTime">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.searchResult.updateTime" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.updateTime|date:'medium':timezone:locale}} </td>
            </ng-container>
            <ng-container matColumnDef="updateUser">
              <th mat-header-cell *matHeaderCellDef>
                {{ "companyListScreen.searchResult.updateUser" | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.updateUser}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayCompanyListColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayCompanyListColumns;" (click)="listClicked(row)"></tr>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>