<div *ngIf="this.router.url!=='/sc1001'" class="col-12 ">
  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> -->

  <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(146, 208, 80, 0.589);">
    <a class="navbar-brand" routerLink="">TOP</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/">DETAIL</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="index.html">Skills</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">技術について</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="project.html">プロジェクトを登録・更新する</a>
          <a class="dropdown-item" href="result.html">評価結果を確認する</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">評価する</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="asessment.html">技術者を評価する</a>
          <a class="dropdown-item" href="#">過去の評価内容を確認する</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">基本情報について</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="#">基本情報を登録・更新する</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->