<div class="row">
  <!-- left Part -->
  <div class="col-12 col-sm-4 welcome">
    <h1>ようこそ</h1>
    <br>
    <h1>Sanrokumaruシステムへ</h1>
    <br>
    <h4>より良いコミュニケーションを目指して</h4>
  </div>

  <!-- right part -->
  <div class="col-12 col-sm-8">
    <div class="container-fluid">
      <form>
        <!-- login -->
        <div class="row">
          <div class="col-sm-4 offset-sm-4 login">
            <label for="loginUserId">ユーザID</label>
            <input class="form-control" id="loginUserId" name="loginUserId" type="text" [(ngModel)]="loginUserId"
              placeholder="ユーザID">
            <!-- <span *ngIf="unitPrice.errors?.required">ユーザIDは必須です。</span> -->
            <br>
            <label for="loginPassword">パスワード</label>
            <input class="form-control" id="loginPassword" name="loginPassword" type="text" [(ngModel)]="loginPassword"
              placeholder="パスワード">
            <br>
            <button id="search" class="btn btn-success mt-3" routerLink="/if1003">ログイン</button>
          </div>
        </div>
        <!-- information -->
        <div class="row">
          <div class="col-sm-6 offset-sm-3 mt-5">
            <table class="table table-hover table-striped searchResult">
              <thead>
                <tr>
                  <th colspan="3" class="text-center">お知らせ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let information of informations">
                  <td>{{information.date}}</td>
                  <td>{{information.information}}</td>
                  <td>{{information.detail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>