<form class="form-horizontal">
  <div class="row">
    <div style="color: whitesmoke; background-color: rgba(146, 208, 80, 0.589); min-height: 100%;" class="col-xs-4 hidden-xs ">
      <br>
      <h3>ようこそ</h3>
      <br>
      <h4>Sanrokumaruシステムへ</h4>
      <br>
      <h4>より良いコミュニケーションを目指して</h4>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="col-sm-2"></div>
      <div class="form-group col-sm-8">
        <label for="loginUserId">ユーザID</label>
        <input class="form-control" id="loginUserId" name="loginUserId" type="text" [(ngModel)]="loginUserId">
        <!-- <span *ngIf="unitPrice.errors?.required">ユーザIDは必須です。</span> -->
        <br>
        <label for="loginPassword">パスワード</label>
        <input class="form-control" id="loginPassword" name="loginPassword" type="text" [(ngModel)]="loginPassword">
        <!-- <span *ngIf="unitPrice.errors?.required">ユーザIDは必須です。</span> -->
        <br><br>

        <!-- button -->
        <button id="search" class="btn btn-success" style="width:100%" (click)="search()">ログイン</button>
        <br><br>

        <!-- information -->
        <table class="table table-hover table-striped table-responsive">
          <thead class="thead-dark">
            <tr>
              <th class="text-center" width='10%'>お知らせ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments">
              <td>{{payment.payDate}}</td>
              <td>{{payment.name}}</td>
              <td class="text-right">{{payment.unitPrice | number }}</td>
              <td class="text-right">{{payment.quantity | number }}</td>
              <td class="text-right">{{payment.amount | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</form>