/* Master Styles */
@charset "UTF-8";

/* ----- common ----- */
html{
  font-size: 12px;
}

/* everywhere else */
* {
  font-family: Meiryo,Arial,Helvetica, sans-serif;
  font-size: 1.0rem;
}

/* no padding class */
.wrapper{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/* search result table */
.searchResult{
  box-shadow: 2px 2px 10px 1px #e3e3e3;
}
.searchResult > thead > tr > th{
  background-color:rgba(146, 208, 80, 0.589);
}

/* head */
.head{
  background-color:green;
}

/* main contains all screen parts */
.main{
  padding: 4rem 2rem 1rem 2rem;
}

/* searchCondition */
.searchCondition{
  padding: 1rem 1rem 0rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;	
  box-shadow: 2px 2px 10px 1px #e3e3e3;
}

/* ----- login ----- */

/* welcome(login) */
.welcome{
  line-height: 3rem;
  color: whitesmoke; 
  background-color: rgba(146, 208, 80, 0.589); 
  box-shadow: 2px 2px 10px 1px #e3e3e3;
  height:100vh;
}

/* login */
.login{
  margin-top: 15rem;
  padding: 20px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.5rem;	
  box-shadow: 2px 2px 10px 1px #e3e3e3;
}
.login > button{
  width: 100%;
}


/* Form */
.form-group > label {
  padding-top: 8px;
  padding-right: 0px;
  text-align: right;
}

