<div class="row">
  <!-- left Part -->
  <div class="col-12 col-sm-4 welcome">
    <h1 translate>welcomeScreen.title</h1>
    <br>
    <h1 translate>welcomeScreen.systemName</h1>
    <br>
    <h4 translate>welcomeScreen.comment</h4>
  </div>

  <!-- right part -->
  <div class="col-12 col-sm-8">
    <div class="container-fluid">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <!-- signIn -->
        <div class=" row">
          <div class="col-sm-4 offset-sm-4 login">
            <!-- Mesagges -->
            <app-messages></app-messages>
            <app-error-messages></app-error-messages>

            <!-- Input items -->
            <label for="signiInUserId" translate>signInScreen.userId</label>
            <input class="form-control" id="signiInUserId" name="signiInUserId" type="text"
              placeholder="{{ 'signInScreen.userId' | translate }}" formControlName="signInUserId" required>
            <div *ngIf="signInUserId.invalid && (signInUserId.dirty || signInUserId.touched)">
              <div *ngIf="signInUserId.hasError('required')">
                This field is required.
              </div>
              <div *ngIf="signInUserId.hasError('minlength')">
                The format is incorrect.
              </div>
            </div>
            <br>

            <label for="signInPassword" translate>signInScreen.password</label>
            <input class="form-control" id="signInPassword" name="signInPassword" type="text"
              placeholder="{{ 'signInScreen.password' | translate }}" formControlName="signInPassword">
            <div *ngIf="signInPassword.invalid && (signInPassword.dirty || signInPassword.touched)">
              <div *ngIf="signInPassword.hasError('required')">
                This field is required.
              </div>
              <div *ngIf="signInPassword.hasError('minlength')">
                The format is incorrect.
              </div>
            </div>
            <br>
            <button id="signInBtn" class="btn btn-success mt-3" routerLink="/evaluation-result" type="submit"
              [disabled]="!signInForm.valid" translate>signInScreen.signInBtn</button>
          </div>
        </div>
        <!-- informations -->
        <div class="row">
          <div class="col-sm-6 offset-sm-3 mt-5">
            <table class="table table-hover table-striped searchResult">
              <thead>
                <tr>
                  <th colspan="3" class="text-center" translate>signInScreen.information</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let information of informations">
                  <td>{{information.date}}</td>
                  <td>{{information.information}}</td>
                  <td>{{information.detail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>