<div class="row">
  <!-- left Part -->
  <div class="col-12 col-sm-4 welcome">
    <h1 translate>welcomeScreen.title</h1>
    <br>
    <h1 translate>welcomeScreen.systemName</h1>
    <br>
    <h4 translate>welcomeScreen.comment</h4>
  </div>

  <!-- right part -->
  <div class="col-12 col-sm-8">
    <div class="container-fluid">
      <form>
        <!-- login -->
        <div class="row">
          <div class="col-sm-4 offset-sm-4 login">
            <!-- Mesagges -->
            <app-messages></app-messages>
            <app-error-messages></app-error-messages>

            <!-- Input items -->
            <label for="loginUserId" translate>signInScreen.userId</label>
            <input class="form-control" id="loginUserId" name="loginUserId" type="text" [(ngModel)]="loginPassword"
              placeholder="{{ 'signInScreen.userId' | translate }}">
            <br>
            <label for=" loginPassword" translate>signInScreen.password</label>
            <input class="form-control" id="loginPassword" name="loginPassword" type="text" [(ngModel)]="loginPassword"
              placeholder="{{ 'signInScreen.password' | translate }}">
            <br>
            <button id="search" class="btn btn-success mt-3" routerLink="/evaluation-result"
              translate>signInScreen.signInBtn</button>
          </div>
        </div>
        <!-- informations -->
        <div class="row">
          <div class="col-sm-6 offset-sm-3 mt-5">
            <table class="table table-hover table-striped searchResult">
              <thead>
                <tr>
                  <th colspan="3" class="text-center" translate>signInScreen.information</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let information of informations">
                  <td>{{information.date}}</td>
                  <td>{{information.information}}</td>
                  <td>{{information.detail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>