<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>

  <mat-list-item [matMenuTriggerFor]="menu1">
    <mat-icon>navigate_next</mat-icon>
    <a matline>評価</a>
  </mat-list-item>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">社員一覧</button>
  </mat-menu>

  <mat-list-item [matMenuTriggerFor]="menu2">
    <mat-icon>navigate_next</mat-icon>
    <a matline>評価確認</a>
  </mat-list-item>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">社員一覧</button>
    <button mat-menu-item (click)="onSidenavClose()">評価結果一覧</button>
  </mat-menu>

  <mat-list-item [matMenuTriggerFor]="menu3">
    <mat-icon>navigate_next</mat-icon>
    <a matline>管理者</a>
  </mat-list-item>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">企業情報登録</button>
    <button mat-menu-item (click)="onSidenavClose()">社員情報登録</button>
    <button mat-menu-item (click)="onSidenavClose()">社員情報一括登録</button>
    <button mat-menu-item (click)="onSidenavClose()">社員一覧</button>
    <button mat-menu-item (click)="onSidenavClose()">質問登録</button>
    <button mat-menu-item (click)="onSidenavClose()">評価者登録</button>
    <button mat-menu-item (click)="onSidenavClose()">評価者一括登録</button>
    <button mat-menu-item (click)="onSidenavClose()">評価ルール登録</button>
    <button mat-menu-item (click)="onSidenavClose()">評価状況確認</button>

  </mat-menu>
  <mat-list-item [matMenuTriggerFor]="menu4">
    <mat-icon>navigate_next</mat-icon>
    <a matline>全権</a>
  </mat-list-item>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">企業情報一覧</button>
  </mat-menu>
</mat-nav-list>