<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon class="matIcon">home</mat-icon>{{ 'menu.home' | translate }}
  </a>

  <ng-container *ngFor="let item of availableMenuListDtoLists">
    <a mat-list-item [matMenuTriggerFor]="appMenu">
      <mat-icon class="matIcon">navigate_next</mat-icon>{{ item.propertyId | translate }}
    </a>
    <mat-menu #appMenu="matMenu">
      <ng-container *ngFor="let subitem of item.availableMenuDto">
        <button mat-menu-item (click)="onSidenavClose()"
          routerLink="/{{subitem.apiName}}">{{ subitem.propertyId | translate }}</button>
      </ng-container>
    </mat-menu>
  </ng-container>

  <a mat-list-item routerLink="/account-setting" (click)="onSidenavClose()">
    <mat-icon class="matIcon">account_circle</mat-icon> <span
      class="nav-caption">{{ 'menu.accountSetting' | translate }}</span>
  </a>

  <a mat-list-item routerLink="/sign-out" (click)="onSidenavClose()">
    <mat-icon class="matIcon">exit_to_app</mat-icon> <span class="nav-caption">{{ 'menu.signOut' | translate }}</span>
  </a>

</mat-nav-list>